/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

$content-width: 1160px;
$background-color: #FFFFFF ;
$mane-dark-color: #252525;
$font-main-title-size: 36px;
$font-main-casual-text-size: 16px;

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}
body{
  height:100%;
  font-family: "Raleway", Serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

/* хедер */
.header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  .header_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .nav__bar__right__corner__group{
    overflow: hidden;
    display: flex;
    img{
      max-width: 23px;
      max-height: 23px;
      height: 100%;
      width: 100%;
    }
    .nav__bar__pics{
      box-sizing: border-box;
      max-height: 25px;
      position: relative;
    }
    a{
      padding: 0 8px 0 8px;
    }
  }
  .nav__bar__text{
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    @include adaptiv-font(18,16);
    color: $mane-dark-color;
  }
  .nav__bar__language__group{
    .nav__bar__text:after:after{
      padding: 8px 9px;
      content: url("/Week1/pictures_for_main/arrow_down.png");
    }
  }
  .nav__bar__left__corner__group{
    a{
      padding: 0 20px 0 0;
    }
  }
  .header__main__logo{
    img{
    max-width: 158px;
    max-height: 40px;
    height: 100%;
    width: 100%;
    }
  }
  .header__sub__menu{}
  .container__for__nav__bar{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 34px 10px 34px 10px;
  }

  @media  (max-width: 950px) {
    .search{
      display: none;
    }
    .class__UAH{
      display: none;
    }
    .class__about{
      display: none;
    }
    .class__catalog{
      display: none;
    }
    .profile_icon{
      display: none;
    }
    .class__new{
      display: none;

    }
  }
}

/* мейн */
.main{
  .container{
    display: flex;
    margin: 0 auto;
    max-width:$content-width ;
  }
  .main__left__menu__bar{
    background: lightskyblue;
  }
  .main__right__field{
    background: darkorange;
  }
}

/* футер */
.footer {
  color: $mane-dark-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  &__body {
    max-width: $content-width;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 250px;
    width: 100%;
    align-items: center;

    &__title {
      text-transform: uppercase;
      line-height: 23.48px;
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  &__row {
    font-size: $font-main-casual-text-size;
    line-height: 19px;

    li {
      margin: 10px 0;
    }

    img {
      width: 15.83px;
      height: 15.83px;
      margin-right: 8px;
    }
  }

  &__bottom {
    display: flex;
    margin: 0 auto;
  }

  &__copyright {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 100%;
    margin: 50px 0 10px;
  }
  a{
    text-decoration: none;
    color: $mane-dark-color;
  }
  @media (max-width: 768px) {
    .footer__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}