@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Raleway", Serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

/* хедер */
.header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.header .header_container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.header .nav__bar__right__corner__group {
  overflow: hidden;
  display: flex;
}
.header .nav__bar__right__corner__group img {
  max-width: 23px;
  max-height: 23px;
  height: 100%;
  width: 100%;
}
.header .nav__bar__right__corner__group .nav__bar__pics {
  box-sizing: border-box;
  max-height: 25px;
  position: relative;
}
.header .nav__bar__right__corner__group a {
  padding: 0 8px 0 8px;
}
.header .nav__bar__text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #252525;
}
.header .nav__bar__language__group .nav__bar__text:after:after {
  padding: 8px 9px;
  content: url("/Week1/pictures_for_main/arrow_down.png");
}
.header .nav__bar__left__corner__group a {
  padding: 0 20px 0 0;
}
.header .header__main__logo img {
  max-width: 158px;
  max-height: 40px;
  height: 100%;
  width: 100%;
}
.header .container__for__nav__bar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 34px 10px 34px 10px;
}
@media (max-width: 950px) {
  .header .search {
    display: none;
  }
  .header .class__UAH {
    display: none;
  }
  .header .class__about {
    display: none;
  }
  .header .class__catalog {
    display: none;
  }
  .header .profile_icon {
    display: none;
  }
  .header .class__new {
    display: none;
  }
}

/* мейн */
.main .container {
  display: flex;
  margin: 0 auto;
  max-width: 1160px;
}
.main .main__left__menu__bar {
  background: lightskyblue;
}
.main .main__right__field {
  background: darkorange;
}

/* футер */
.footer {
  color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.footer__body {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__column {
  max-width: 250px;
  width: 100%;
  align-items: center;
}
.footer__column__title {
  text-transform: uppercase;
  line-height: 23.48px;
  padding-bottom: 20px;
  font-size: 20px;
}
.footer__row {
  font-size: 16px;
  line-height: 19px;
}
.footer__row li {
  margin: 10px 0;
}
.footer__row img {
  width: 15.83px;
  height: 15.83px;
  margin-right: 8px;
}
.footer__bottom {
  display: flex;
  margin: 0 auto;
}
.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 100%;
  margin: 50px 0 10px;
}
.footer a {
  text-decoration: none;
  color: #252525;
}
@media (max-width: 768px) {
  .footer .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=catalog.css.map */
