/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

$content-width: 1140px;
$background-color: #FFFFFF ;
$mane-dark-color: #252525;
$font-main-title-size: 36;
$font-main-casual-text-size: 16;
$font-main-casual-18size-text-size: 18;
$slider-block-height:450px;
$header-background-height:900px;

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

body{
  height:100%;
  font-family: "Raleway", Serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
}

/* хедер */
.header {
  max-width: 1440px;
  margin: 0 auto;
  .header_container{
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav__bar__right__corner__group{
    overflow: hidden;
    display: flex;
    .container{
      display: flex;
    }
    .nav__bar__pics{
      box-sizing: border-box;
      max-height: 25px;
      position: relative;
    }
    img{
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    a{
      padding: 0 8px 0 8px;
    }


  }
  .nav__bar__text{
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    @include adaptiv-font(18,16);
    color: $background-color;
  }
  .header__nav__bar{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .nav__bar__language__group{
    .img_sub__language__menu{
      padding:6px 12px 0 5px;
    }
  }
  .nav__bar__left__corner__group{

    a{
      padding: 0 20px 0 0;
    }
  }
  .header__main__logo{
    img{
      max-width: 158px;
      max-height: 40px;
      height: 100%;
      width: 100%;
    }
  }
  .header__sub__menu{}
  .header__go__another__page{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    text-align: center;
    opacity: 0.9;
    margin-top: 250px;
    .go__another__page__title{
      font-style: normal;
      font-weight: 300;
      @include adaptiv-font(46,32);
      color: $background-color;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    hr{
      max-width: 120px;
      height: 1px;
      background-color: $background-color;
      margin: 0 auto;
    }
    .go__another__page__link{
      text-transform: uppercase;
      font-style: normal;
      font-weight: 300;
      color: $background-color;
      @include adaptiv-font($font-main-casual-text-size,14);
      padding-top: 20px;
    }
  }
  .container__for__nav__bar{
    display: flex;
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0 34px 0;
    position: absolute;
    z-index: 1;

  }
  /*
  .header__background {
    overflow: hidden;
    .container {
      display: flex;
    }
    .background__item {
      display: block;
      box-sizing: border-box;
      flex: 0 0 33.33%;
      max-height: $header-background-height;
      position: relative;
    }
    .background__item img {
      display: block;
      max-width: 100%;
      max-height: 900px;
      object-fit: cover;
      filter: brightness(40%);
    }
  }
  */
  .header__imgs {
  overflow: hidden;
  .container {
    display: flex;
  }
  .header__img {
    display: flex;
    .background__item{
      display: block;
      box-sizing: border-box;
      max-height: $header-background-height;
      position: relative;
    }
    img {
      display: block;
      max-width: 480px;
      width: 100%;
      max-height: 900px;
      object-fit: cover;
      filter: brightness(40%);
    }
  }

  @media (max-width: 950px) {
    .header__img_2 {
      display: none;
    }
    .background__item{
      display: block;
      box-sizing: border-box;
      flex: 0 0 50%;
      max-height: $header-background-height;
      position: relative;
    }

  }
  @media (max-width: 500px) {
    .header__img_3 {
      display: none;
    }
    .header__img_1 {
      width: 375px;
    }
    .background__item{
      display: block;
      box-sizing: border-box;
      flex: 0 0 100%;
      max-height: $header-background-height;
      position: relative;
    }

  }
}

  @media (max-width: 950px) {
    .search{
      display: none;
    }
    .nav__bar__right__corner__group{
      img{
        max-width: 25px;
        width: 100%;

      }
    }

  }
  @media (max-width: 770px) {
    .class__UAH,class__about{
      display: none;
    }
  }
  @media (max-width: 770px) {
    .class__about{
      display: none;
    }
  }
  @media (max-width: 650px) {
    .class__catalog{
      display: none;
    }
  }
  @media (max-width: 555px) {
    .profile_icon{
      display: none;
    }
    img{
      max-width: 20px;
      width: 100%;

    }
    .class__new{
      display: none;

    }
  }

}

/* мейн */
.main_content{
  max-width: $content-width;
  margin: 0 auto;
  .main__getInfo{
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    .getInfo__menu{
      display: flex;
      flex-direction: column;
      max-width: 600px;
      width: 100%;
    }
    .getInfo__little__text{
      @include adaptiv-font($font-main-casual-text-size,14);
      text-align: center;
    }
    .getInfo__input__and__button{
      display: flex;
      align-self: center;
      flex-direction: column;
      max-width: 600px;
      max-height: 120px;
      width:100%;
      height: 100%;
    }
    .getInfo__input{
      max-width: 600px;
      max-height: 50px;
      width:100%;
      height: 100%;
      border: 1px solid;
      text-align: center;
    }
    .getInfo__button{
      background: $mane-dark-color;
      max-width: 600px;
      max-height: 50px;
      width:100%;
      height: 100%;
      font-style: normal;
      font-weight: 300;
      @include adaptiv-font($font-main-casual-text-size,14);
      text-align: center;
      text-transform: uppercase;
      color: $background-color;
    }
    .for__input__main{
      max-width: 600px;
      max-height: 50px;
      width:100%;
      height: 100%;
    }
    .for__button__main{
      max-width: 600px;
      max-height: 50px;
      width:100%;
      height: 100%;
      font-style: normal;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      color: $background-color;
    }
    .main__title{
      text-align: center;
      font-weight: 300;
      color: $mane-dark-color;
      @include adaptiv-font(36,24);
    }
  }
  /*  .get__mailed{
    max-width: 600px;
    max-height: 270px;
    justify-content: center;
    margin: 100px auto;

    &__title {
      text-align: center;
      font-size: 36px;
    }

    &__input {
      margin: 50px auto 20px;
      input {
        text-align: center;
        border: 0.5px solid #252525;
        width: 100%;
        padding: 15px;
      }
    }

    &__button {
      margin-bottom: 20px;
      button {
        background-color: #E0BEA2;
        width: 100%;
        padding: 16px;
        text-transform: uppercase;
        color: white;
      }
    }

    &__text {
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      line-height: 19px;
    }
  }*/
  .main__gallery{
    max-width: $content-width;
    width: 100%;
    .main__title{
      font-weight: 300;
      color: $mane-dark-color;
      padding: 100px 0 50px 0;
      @include adaptiv-font(36,24);
    }
    .gallery__pics {
      overflow: hidden;
    }
    .gallery__pics .container {
      display: flex;
    }
    .gallery__pics .background__item {
      box-sizing: border-box;
      max-height: $slider-block-height;
      padding: 0 7px;
      position: relative;
    }
    .gallery__pics .background__item img {
      display: block;
      max-width: 100%;
      object-fit: cover;
    }
    .gallery__pics .background__item .label {
      display: block;
      position: absolute;
      bottom: 0;
      left: 7px;
      right: 7px;
      text-align: center;
      color: #fff;

      font-weight: 300;
      @include adaptiv-font(20,18);
      padding: 10px;
      background-color: rgba(226, 199, 178, 0.6);
      transition: background-color 0.15s;
    }
    .gallery__pics .background__item:hover .label {
      background: $mane-dark-color;
    }
    .buttons__location{
      display: flex;
      max-width: 1140px;
      width: 100%;
      max-height: 450px;

      position: absolute;
      z-index: 1;
      align-items: center;
      justify-content: space-between;
    }
    .square{
      max-width: 40px;
      min-height: 40px;
      width: 100%;
      height: 100%;
      background-color: $mane-dark-color;
    }
    .slider__buttons{
      img{
        background-color: $mane-dark-color;
      }
      .left__button{
      }
      .right__button{
      }
    }
    .slider__container{
      display: flex;
    }
  }
  @media (max-width: 950px) {
    .background__item.slider_4{
      display: none;
    }

  }
  @media (max-width: 500px) {
    .background__item.slider_3{
      display: none;
    }
  }
}

/* футер */
.footer{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  .footer__columns{
    display: flex;
    margin: 0 auto;
    max-width: $content-width;
    padding: 10px 0 0 0;
    background: $background-color;
  }
  .footer__listPics{
    line-height: 1.5;
  }
  .columns__column{
    flex: 0 1 25%;
    padding: 0px 8px;
    margin: 0px 0px 30px 0px;
    li{
      font-weight: 200;
      font-size: $font-main-casual-text-size;
      line-height: 1.5;
      /* identical to box height */
      color: $mane-dark-color;
    }
    list__listPics{
      align-items: flex-start;
    }
  }
  .footer__bottom{
    background: $background-color;
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    .bottom__tittle{
      font-size: 12px;
      padding: 10px 0 10px 0;

    }
  }
  .footer__title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    color: $mane-dark-color;
    padding: 0 0 20px 0;
  }
  .bottom__tittle{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
