/* футер */
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons.woff") format("woff");
}

$content-width: 1140px;
$background-color: #FFFFFF ;
$mane-dark-color: #252525;
$font-main-title-size: 36px;
$font-main-casual-text-size: 16px;

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}
.footer {
  color: $mane-dark-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  .footer__column__pics{
    font-family: Icons;
    text-transform: none;
    @include adaptiv-font(18,16);
    color: #E0BEA2;
  }
  .footer__body {
    max-width: $content-width;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  .footer__column {
    max-width: 250px;
    width: 100%;
    align-items: center;

    .footer__column__title {
      text-transform: uppercase;
      line-height: 23.48px;
      padding-bottom: 20px;
      font-size: 20px;
      span{
        display: none;
      }
    }
  }

  .footer__row {
    font-size: $font-main-casual-text-size;
    line-height: 19px;

    li {
      margin: 10px 0;
    }
  }

  .footer__bottom {
    display: flex;
    margin: 0 auto;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 100%;
    margin: 50px 0 10px;
  }
  a{
    text-decoration: none;
    color: $mane-dark-color;
  }
  @media (max-width: 768px) {
    .footer__container {
      display: block;
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 20px 30px;
      overflow: hidden;
    }

    .footer__column {
      max-width: 100%;
      width: 100%;

      .footer__column__title {
        border-bottom: 1px solid $mane-dark-color;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 5px;
        span{
          display: block;
          font-family: Icons;
          text-transform: none;
          content: "arrow-down";
          float: right;
        }
      }
    }

    .footer__row {
      display: none;
    }

    .footer__column.active {
      span{
        display: block;
      }
      .footer__column__title span {
        transform: rotate(-180deg);
        display: inline-block;
      }
      .footer__row {
        display: block;
      }
    }

    .footer__column:last-of-type {
      .footer__column__title:after {
        content: '';
      }
      .footer__column__title {
        border: none;
      }
      .footer__row {
        display: block;
      }
    }

  }
}