@charset "UTF-8";
/* футер */
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons.woff") format("woff");
}
/* хедер */
.header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.header .header__sub__menu {
  font-family: Icons;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #E0BEA2;
}
.header .header_container {
  max-width: 1140px;
  margin: 0 auto;
}
.header .header_container .header__nav__bar {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.header .header_container .header__nav__bar .container__for__nav__bar {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 34px 10px 34px 10px;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group {
  overflow: hidden;
  display: flex;
  font-family: Icons;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group .container {
  display: flex;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group .nav__bar__pics {
  box-sizing: border-box;
  position: relative;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group a {
  font-family: Icons;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #E0BEA2;
  padding: 0 8px 0 8px;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #252525;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .nav__bar__text span {
  padding: 8px 9px;
  font-family: Icons;
  text-transform: none;
  font-size: calc(13px + 2 * ((100vw - 375px) / 1065));
  content: "arrow-down";
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down {
  position: relative;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down .drop-down__row {
  display: none;
  position: absolute;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down .drop-down__row a {
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .nav__bar__text span {
  transform: rotate(-180deg);
  display: inline-block;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .drop-down__row {
  display: block;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .drop-down__row .item {
  border-bottom: 1px solid #E0BEA2;
  padding: 10px 0;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .drop-down__row a {
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__left__corner__group a {
  padding: 0 20px 0 0;
}
.header .header_container .header__nav__bar .container__for__nav__bar .header__main__logo {
  width: 195px;
  color: #E0BEA2;
}
.header .header_container .header__drop__down__menu {
  position: absolute;
  transition: all 0.4s;
  z-index: 1;
  max-width: 1110px;
  width: 100%;
  top: 110px;
  padding: 0 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner {
  display: flex;
  padding: 22px 0 16px;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__close__button {
  font-family: Icons;
  text-transform: none;
  font-size: calc(27px + 3 * ((100vw - 375px) / 1065));
  padding: 0 10px;
  background-color: transparent;
  color: #E0BEA2;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__row {
  display: flex;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__row .drop__down__menu__item {
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  line-height: 21px;
  margin-right: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
}
.header .header_container .header__drop__down__menu-close {
  transform: translateY(-400%);
}
.header .header_container .burger__menu__mobile {
  display: none;
}
@media (max-width: 720px) {
  .header .container__for__nav__bar {
    background-color: #252525;
  }
  .header .drop-down.active .drop-down__row {
    display: block;
    background: #252525;
    border: 1px solid #E0BEA2;
  }
  .header .drop-down.active .drop-down__row a {
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  }
  .header .nav__bar__language__group .nav__bar__text {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  }
  .header .nav__bar__language__group .drop-down li {
    color: white !important;
  }
  .header .header__drop__down__menu {
    display: none;
  }
  .header .burger__menu__mobile {
    font-family: "Raleway", Serif;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 0.4s;
    z-index: 3;
    max-width: 1140px;
    width: 100%;
    top: 110px;
    display: block !important;
  }
  .header .burger__menu__mobile__body {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
  }
  .header .burger__menu__mobile__body a {
    color: #252525;
  }
  .header .burger__menu__mobile .burger__menu__mobile__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 0.3px solid #252525;
    text-transform: uppercase;
  }
  .header .burger__menu__mobile .burger__menu__mobile__item:last-child {
    flex-direction: column;
    border: none;
    text-transform: none;
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .header .burger__menu__mobile .burger__menu__mobile__item:last-child a {
    font-family: Icons;
    font-size: calc(20px + 5 * ((100vw - 375px) / 1065));
  }
  .header .burger__menu__mobile .burger__menu__mobile__item:last-child li {
    margin: 5px;
  }
  .header .burger__menu__mobile .search__input {
    border: 0.3px solid #252525;
    padding: 10px 60px 10px 20px;
    border-radius: 20px;
  }
  .header .burger__menu__mobile .group4__column__link:after {
    font-family: Icons;
    position: absolute;
    text-transform: none;
    content: "arrow-down";
    padding-left: 5px;
  }
}
@media (max-width: 950px) {
  .header .search {
    display: none;
  }
  .header .class__UAH {
    display: none;
  }
  .header .class__about {
    display: none;
  }
  .header .class__catalog {
    display: none;
  }
  .header .profile_icon {
    display: none;
  }
  .header .class__new {
    display: none;
  }
}
@media (max-width: 555px) {
  .header .group1 {
    order: 1;
  }
  .header .group2 {
    order: 2;
  }
  .header .group3 {
    order: 4;
  }
  .header .group4 {
    order: 3;
  }
  .header .group5 {
    order: 5;
  }
}

/*# sourceMappingURL=header.css.map */
