@charset "UTF-8";
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons.woff") format("woff");
}
body {
  height: 100%;
  font-family: "Raleway", Serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
}

/*банер*/
.banner {
  width: 100%;
  margin: auto;
  position: relative;
}
.banner .container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner .banner__img {
  display: flex;
}
.banner .item {
  display: block;
  box-sizing: border-box;
  flex: 0 0 33.3333%;
  position: relative;
}
.banner .item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}
.banner .header__go__another__page {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}
.banner .header__go__another__page .go__another__page__title {
  font-style: normal;
  font-weight: 300;
  font-size: calc(32px + 14 * ((100vw - 375px) / 1065));
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.banner .header__go__another__page hr {
  max-width: 120px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.banner .header__go__another__page .go__another__page__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
  padding-top: 20px;
}
@media all and (max-width: 950px) {
  .banner .banner__img .item {
    flex-basis: 50%;
  }
}
@media all and (max-width: 500px) {
  .banner .banner__img .item {
    flex-basis: 100%;
  }
}

/* хедер */
.header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.header .header__sub__menu {
  font-family: Icons;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #FFFFFF;
}
.header .header_container {
  max-width: 1140px;
  margin: 0 auto;
}
.header .header_container .header__nav__bar {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.header .header_container .header__nav__bar .container__for__nav__bar {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 34px 10px 34px 10px;
  position: absolute;
  z-index: 1;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group {
  overflow: hidden;
  display: flex;
  font-family: Icons;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group .container {
  display: flex;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group .nav__bar__pics {
  box-sizing: border-box;
  position: relative;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__right__corner__group a {
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 8px 0 8px;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  color: #FFFFFF;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .nav__bar__text span {
  padding: 8px 9px;
  font-family: Icons;
  text-transform: none;
  font-size: calc(13px + 2 * ((100vw - 375px) / 1065));
  content: "arrow-down";
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down {
  position: relative;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down .drop-down__row {
  display: none;
  position: absolute;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down .drop-down__row a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .nav__bar__text span {
  transform: rotate(-180deg);
  display: inline-block;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .drop-down__row {
  display: block;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__language__group .drop-down.active .drop-down__row .item {
  border-bottom: 1px solid #E0BEA2;
  padding: 10px 0;
}
.header .header_container .header__nav__bar .container__for__nav__bar .nav__bar__left__corner__group a {
  padding: 0 20px 0 0;
}
.header .header_container .header__nav__bar .container__for__nav__bar .header__main__logo {
  width: 195px;
  color: white;
}
.header .header_container .header__drop__down__menu {
  position: absolute;
  transition: all 0.4s;
  z-index: 1;
  max-width: 1110px;
  width: 100%;
  top: 100px;
  padding: 0 10px;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner {
  display: flex;
  padding: 22px 0 16px;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__close__button {
  font-family: Icons;
  text-transform: none;
  font-size: calc(27px + 3 * ((100vw - 375px) / 1065));
  padding: 0 10px;
  background-color: transparent;
  color: #E0BEA2;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__row {
  display: flex;
}
.header .header_container .header__drop__down__menu .drop__down__menu__inner .drop__down__menu__row .drop__down__menu__item {
  font-size: calc(16px + 2 * ((100vw - 375px) / 1065));
  line-height: 21px;
  margin-right: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
}
.header .header_container .header__drop__down__menu-close {
  transform: translateY(-400%);
}
@media (max-width: 950px) {
  .header .search {
    display: none;
  }
  .header .class__UAH {
    display: none;
  }
  .header .class__about {
    display: none;
  }
  .header .class__catalog {
    display: none;
  }
  .header .profile_icon {
    display: none;
  }
  .header .class__new {
    display: none;
  }
}
@media (max-width: 555px) {
  .header .group1 {
    order: 1;
  }
  .header .group2 {
    order: 2;
  }
  .header .group3 {
    order: 4;
  }
  .header .group4 {
    order: 3;
  }
  .header .group5 {
    order: 5;
  }
}

/* мейн */
.main_content {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}
.main_content .main__getInfo {
  margin: 0 auto;
}
.main_content .main__getInfo .container {
  max-width: 1140px;
  margin: 0 auto;
}
.main_content .main__getInfo .getInfo__input__and__button {
  text-align: center;
}
.main_content .main__getInfo .getInfo__little__text {
  font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 0 0;
}
.main_content .main__getInfo .getInfo__input {
  border: 1px solid;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 16px 10px;
  text-align: center;
  margin-bottom: 10px;
}
.main_content .main__getInfo .getInfo__button {
  background: #252525;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: calc(14px + 2 * ((100vw - 375px) / 1065));
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 10px;
  margin-top: 10px;
}
.main_content .main__getInfo .main__title {
  text-align: center;
  font-weight: 300;
  color: #252525;
  font-size: calc(24px + 12 * ((100vw - 375px) / 1065));
  padding: 100px 0 50px;
}
.main_content .main__title {
  font-weight: 300;
  color: #252525;
  padding: 100px 0 50px 0;
  font-size: calc(24px + 12 * ((100vw - 375px) / 1065));
}
.main_content .slider__block {
  overflow: hidden;
  max-width: 1140px;
  margin: auto;
  position: relative;
}
.main_content .slider__block .container {
  display: flex;
}
.main_content .slider__block .item {
  display: block;
  box-sizing: border-box;
  flex: 0 0 25%;
  padding: 0 7px;
  position: relative;
}
.main_content .slider__block .item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_content .slider__block .item .label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 7px;
  right: 7px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: calc(18px + 2 * ((100vw - 375px) / 1065));
  line-height: 1.25;
  padding: 10px;
  background-color: rgba(29, 38, 27, 0.94);
  transition: background-color 0.15s;
}
.main_content .slider__block .item:hover .label {
  background-color: #252525;
}
.main_content .slider__block button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-color: #252525;
  font-family: Icons;
  text-transform: none;
  color: #FFFFFF;
}
.main_content .slider__block .next {
  right: 20px;
}
.main_content .slider__block .prev {
  left: 20px;
}
@media all and (max-width: 950px) {
  .main_content .slider__block .item {
    flex-basis: 33.3333%;
  }
}
@media all and (max-width: 500px) {
  .main_content .slider__block .item {
    flex-basis: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
